.MuiTable-root-1 {
	margin-top: 5px !important;
	margin-left: -180px !important;
	margin-right: -180px !important;
	max-width: 1140px !important;
	width: 1140px !important;
}

.MuiTableRow-head-6,
.MuiTableRow-root-3 {
	height: 20px !important;
}

.MuiTableCell-head-9 {
	color: black !important;
	font-size: 12px !important;
	font-weight: 700 !important;
	text-align: center !important;
}

.MuiTableCell-root-8 {
	padding: 2px !important;
	font-size: 12px !important;
	text-align: center !important;
}


.ta-download-button {
	border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
	background-color: var(--super-dark-gray) !important;
	color: var(--white) !important;
	font-size: 12px !important;
	font-weight: 600 !important;
	text-transform: none !important;
	padding: 5px 10px !important;
	margin-left: -160px !important;
}

.ta-download-button:focus,
.ta-download-button:hover {
	background-color: #0073e5 !important;
	color: #fff !important;
}
